html,
body {
	height: auto;
	min-height: 100%;
	overflow-y: auto;
}

main {
	min-height: 100vh;
	padding-bottom: 60px;
	box-sizing: border-box;
}

body {
	background-color: var(--bg);
	color: var(--text);
	font-family: "Poppins", sans-serif;
	transition: background-color 0.1s ease, color 0.1s ease;
}

a {
	color: var(--text);
	text-decoration: none;
	transition: color 0.2s ease;

	&:hover {
		color: var(--primary-light);
	}
}

:root {
	--grey: #b2a6a1;
	--accent-green: #a8c686;
	--accent-blue: #3d5a80;
	--detail-pink: #f4978e;
	--calico-white: #fafaf5;
	--calico-cream: #f5e6d3;
	--calico-orange: #e07a5f;
	--calico-black: #333333;
	--calico-yellow: #f2c94c;
}
